body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#text-description {
  position: relative;
  /* top: 10px; */
  margin-bottom: 10px;
}

#desc {
  text-align: left;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 2px;
}

#mainTitle {
  left: 1%;
  top: 2%;
  width: auto;
  max-width: 600px;
  /* height: 50px; */
  padding: 15px 20px;
  background: #201d1d;
  position: absolute;
  /* padding: 20px; */
  z-index: 2;
  border-radius: 15px;
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#chart_div {
    /* width: 50%;
    height: 20%;
    position: absolute;
    top: 500px;
    left: -30px;
    color: white; */
    padding: 10px;
    z-index: 10;
    max-height: 400px;
    overflow-y: auto;
    width: 93%;
    height: 35%;
}

#bar_graph {
  /* width: 50%;
  height: 20%;
  position: absolute;
  top: 475px;
  left: 20px;
  color: white; */
  margin-top: 25px;
  padding: 10px;
  z-index: 10;
  /* max-height: 400px; */
  overflow-y: auto;
  width: 93%;
  height: 60%;
}

#view_chlor {
  color: white;
  z-index: 20;
  left: 35%;
  top: 7.3%;
  position: absolute;
  font-family: 'Oswald', sans-serif;
}

#view_dot {
  /* color: white;
  z-index: 20;
  left: 120px;
  top: 444px;
  position: absolute;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px; */
  color: white;
  z-index: 20;
  left: 35%;
  top: 7.3%;
  position: absolute;
  font-family: 'Oswald', sans-serif;
}

#info {
  display: flex;
  /* Enable flexbox */
  flex-direction: column;
  /* Stack children vertically */
  align-items: stretch;
  /* Stretch items to fill the container */
  z-index: 1;
  position: absolute;
  width: 20%;
  top: 1%;
  bottom: 50%;
  right: 1%;
  height: 97%;
  background: #201d1d;
  padding: 25px;
  color: white;
  border-radius: 10px;
  overflow-y: auto;
}

#info a {
  color: lightgray;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#title {
  font-size: 25px;
  margin-bottom: 15px;
}

#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
 on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

/* #legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 180px;
  margin-bottom: 40px;
  width: 130px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 20px;
  height: 10px;
  margin-right: 10px;
} */

/* the layout of the legend panel */
#legend {
    position: absolute;
    bottom: 1%;
    left: 0.5%;
    width: auto;
    background: #fff;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    z-index: 1000;
}

/* each line for a break */
.break {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin: 3px 0; /* Adjust based on your preference */
}

.square {
    width: 20px; /* Adjust based on your preference */
    height: 25px; /* Adjust based on your preference */
    display: inline-block;
    margin-right: 5px; /* Space between square and text */
}

.square-label {
    display: inline; /* Ensure label is in line with square */
    margin-left: 5px; /* Adjust based on your preference */
    vertical-align: middle; /* Align text with square */
    position: relative; /* Adjust positioning as needed */
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
  cursor: unset;
}

#legend-container {
  /* position: absolute;
  top: 180px;
  left: 20px; */
  background-color: rgb(218, 218, 218);
  border: 1px solid #3f3d3d;
  padding: 10px;
  z-index: 10;
  max-height: 400px;
  overflow-y: auto;
  width: 85%;
  height: 20%;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

#legend-container :hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #9b9898;
}

.layer-span-class {
  float: none;
  margin-left: 0px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  z-index: 11;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-label {
  white-space: nowrap;
}

.info-icon {
  position: absolute;
  top: 120px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-icon svg {
  width: 100%;
  /* Adjust the size of the SVG icon as needed */
  height: 100%;
  /* Adjust the size of the SVG icon as needed */
  fill: black;
  /* Adjust the color of the SVG icon as needed */
}

/* .info-letter {
  font-size: 20px;
  color: white;
} */

.about-page {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(234, 234, 234);
  color: #020202;
  padding: 150px;
  box-sizing: border-box;
  z-index: 2;
}

.close-button {
  position: absolute;
  top: 120px;
  left: 22px;
  cursor: pointer;
  color: #333;
  font-size: 30px;
}